:root {
    --primary-color: #006600;
    --secondary-color: #BB0000;
    --accent-color: #FFCD00;
    --background-color: #FFFFFF;
    --navbar-background: #000000;
    --footer-background: #000000;
    --text-color: #333333;
    --link-color: #006600;
    --logo-background: #F2E8CF;
    --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-stack);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

textarea {
    resize: initial;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

header {
    min-height: 200px;
    background-color: var(--logo-background);
    color: white;
    padding: 1em 0;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 80px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: var(--navbar-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

nav li {
    padding: 10px 15px;
}

nav a {
    color: #f8f9fa;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

.show {
    display: block;
}

.show-dropdown .dropdown-content {
    display: block;
}

.dropdown-content.show {
    display: block;
}

nav a:hover {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

main {
    flex: 1;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: var(--footer-background);
    color: white;
    text-align: center;
    padding: 1em 0;
    min-height: 100px;
}

footer p {
    margin-bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 1em;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
}

.sidebar .dropdown-btn {
    position: static;
}

.sidebar .dropdown-content {
    display: none;
    position: static;
    background-color: #f9f9f9;
    box-shadow: none;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.form-container {
    background: var(--background-color);
    margin: 2em auto;
    padding: 2em;
    max-width: 400px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 1em;
    color: var(--primary-color);
}

.form-container label {
    display: block;
    text-align: left;
    margin-top: 0.5em;
}

.form-container input,
.form-container select,
.form-container textarea,
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.form-container button {
    background-color: var(--secondary-color);
    color: white;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: var(--primary-color);
}

.btn {
    background-color: var(--accent-color);
    /* Use the accent color variable */
    color: white;

    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    /* Spacing above the button /
    margin-bottom: 10px; / Spacing below the button */
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.btn:hover,
.btn:focus {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.banner {
    position: relative;
    background-color: #f8f9fa !important;
    background: url('../images/banner.png') no-repeat center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    padding: 20px;
}

.banner-content>section {
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.banner-content h1,
.banner-content h2,
.banner-content p {
    margin: 0 0 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.banner-content .btn {
    text-shadow: none;
}

.banner h1 {
    color: white;
    font-size: 2.5em;
}

#navdrop {
    width: auto;
}

.dropdown-btn {
    background-color: transparent;
    /* Achtergrondkleur van dropdown-knoppen */
    color: var(--text-color);
    /* Tekstkleur van dropdown-knoppen */
    padding: 10px 15px;
    /* Padding voor een groter klikgebied */
    border: none;
    /* Geen rand */
    cursor: pointer;
    /* Cursor verandert naar een handje */
    width: 100%;
    /* Volledige breedte binnen de sidebar */
    text-align: left;

}



.wijzig-button {
    background-color: var(--primary-color);
    /* Set your primary color */
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    /* Remove underline from anchor */
    display: inline-block;
    margin-right: 5px;
}

.verwijder-button {
    background-color: var(--secondary-color);
    /* Set your secondary color */
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* Hover effects */
.wijzig-button:hover,
.verwijder-button:hover {
    opacity: 0.9;
    /* Slightly reduce opacity on hover */
}

.dropdown-content {
    display: none;
    /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    /* White background */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    /* Zorg dat dit overeenkomt met je tekstkleur voor leesbaarheid */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Licht achtergrond bij hover voor betere zichtbaarheid */
}

.dropdown-content a.active {
    background-color: var(--accent-color);
    color: white;
}

.dropdown-btn .dropdown-content {
    display: none;
}

@media (max-width: 768px) {
    .banner-content {
        grid-template-columns: 1fr;
        width: 90%;
        padding: 10px;
    }

    header,
    footer {
        padding: 0.5em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 0.5em;
    }

    .dashboard-container {
        flex-direction: column;
    }

    .main-content,
    .dashboard-main {
        margin-left: 0;
        padding: 10px;
    }

    .dropdown-content {
        position: relative;
        /* Adjust dropdowns for better mobile interaction */
    }

    .product-detail-container {
        padding: 1rem;
        /* Less padding on smaller screens */
    }

    .menu-item {
        margin: 1em 0;
        /* Adjust margins for smaller screens */
    }

    .menu-items {
        grid-template-columns: 1fr;
        /* Single column layout on small screens */
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}

.menu-item {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color);
    /* Optional: added background color */
}

.menu-item img {
    width: 200px;
    /* adjust the width as needed */
    height: 200px;
    /* adjust the height as needed */
    object-fit: contain;
    /* this will ensure the whole image fits inside the specified area without stretching, and the aspect ratio is maintained */
    border-radius: var(--border-radius);
    margin-bottom: 1em;
}

#searchMenu {
    flex: 1;
    /* Laat de zoekbalk het beschikbare ruimte innemen */
    width: auto;
    /* Laat de breedte automatisch aanpassen */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

#searchMenu:focus {
    outline: none;
    /* Optioneel: verwijder de standaard focus-stijl */
    border-color: var(--primary-color);
    /* Verander de randkleur wanneer de zoekbalk is geselecteerd */
}

.search-form {
    display: flex;
    /* Gebruik flexbox */
}

.search-form button[type="submit"] {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: var(--primary-color);
}

.menu-item h3 {
    color: var(--secondary-color);
    margin-bottom: 0.5em;
}

.menu-item p {
    margin-bottom: 1em;
    line-height: 1.4;
}

.menu-item img:hover {
    transform: scale(1.05);
    /* Slightly increase size on hover */
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Adjust minmax for item size */
    gap: 1em;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-background);
    /* Consider adding this color to :root for customization */
    padding: 20px;
    width: 200px;
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li a {
    padding: 10px;
    display: block;
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out;
}

.sidebar ul li a:hover {
    background-color: var(--accent-color);
    color: white;
}



.dashboard-main {
    flex-grow: 1;
    padding: 1em;
    background-color: #fff;
}

.main-content,
.dashboard-main {
    margin-left: 220px;
    /* Adjust based on sidebar width */
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex-grow: 1;
    background-color: #fff;
}

.main-wrapper {
    flex: 1;
    display: flex;
}

.dashboard-wrapper {
    display: flex;
    min-height: calc(100vh - 200px - 100px);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ddd;
}

table th {
    background-color: var(--primary-color);
    color: white;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-detail-container {
    max-width: 800px;
    /* Limit the width of the container */
    margin: 2rem auto;
    /* Center the container with a margin */
    padding: 2rem;
    /* Add padding around the content */
    background: var(--background-color);
    /* Use the background color variable */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    border-radius: var(--border-radius);
    /* Use the border-radius variable */
}

.product-detail-container h1 {
    color: var(--primary-color);
    /* Use the primary color variable */
    margin-bottom: 1rem;
    /* Add margin below the heading */
}

.product-detail-container img {
    max-width: 100%;
    /* Ensure the image is responsive */
    max-height: 400px;
    /* Limit the image height */
    object-fit: cover;
    /* Cover the area without stretching */
    border-radius: var(--border-radius);
    /* Rounded corners for the image */
    margin-bottom: 1rem;
    /* Margin below the image */
}

.product-detail-container p {
    font-size: 1.1rem;
    /* Slightly larger font size */
    margin-bottom: 0.5rem;
    /* Space between paragraphs */
    color: var(--text-color);
    /* Use the text color variable */
    line-height: 1.6;
    /* Improve line height for readability */
}