:root {
    --primary-color: #006600;
    /* Kenyan green */
    --secondary-color: #BB0000;
    /* Kenyan red */
    --accent-color: #FFCD00;
    /* Kenyan gold */
    --background-color: #FFFFFF;
    /* White */
    --navbar-background: #000000;
    /* Black */
    --footer-background: #000000;
    /* Black */
    --text-color: #333333;
    /* Dark grey */
    --link-color: #006600;
    /* Green */
    --logo-background: #F2E8CF;
    /* Off-white/beige */
    --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Font stack */
    --border-radius: 4px;
    /* For rounded corners */
    --body-font-color: #444;
    /* Adjusted body text color for better contrast */
    --section-background-color: rgba(255, 255, 255, 0.8);
    /* For sections on index page */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-stack);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

textarea {
    resize: initial;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Header styles */
header {
    background-color: var(--logo-background);
    color: white;
    padding: 1em 0;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 80px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    padding: 0 1em;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

.dropdown-content.show {
    display: block !important;
}

nav a:hover {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

/* Main content styles */
main {
    flex: 1;
    padding: 1em;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: var(--footer-background);
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

footer p {
    margin-bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 1em;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

/* Form styles */
.form-container {
    background: var(--background-color);
    margin: 2em auto;
    padding: 2em;
    max-width: 400px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 1em;
    color: var(--primary-color);
}

.form-container label {
    display: block;
    text-align: left;
    margin-top: 0.5em;
}

.form-container input,
.form-container select,
.form-container textarea,
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.form-container button {
    background-color: var(--secondary-color);
    color: white;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: var(--primary-color);
}

/* Button styles */
.btn {
    background-color: var(--accent-color);
    color: white;
    padding: 0.75em 1.5em;
    border-radius: var(--border-radius);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.btn:hover,
.btn:focus {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* Banner styles */
.banner {
    position: relative;
    background-color: #f8f9fa !important;
    /* This is a light gray background, choose a color that fits your design */
    background: url('../images/banner.png') no-repeat center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    /* Ensure there is enough contrast for the text to be readable */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    padding: 20px;
}

.banner-content>section {
    background: rgba(255, 255, 255, 0.85);
    /* Adjust transparency as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.banner-content h1,
.banner-content h2,
.banner-content p {
    margin: 0 0 1em;
    /* Adjust the bottom margin as needed */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    /* Text shadow for better readability */
}

.banner-content .btn {
    text-shadow: none;
    /* Remove text shadow from buttons */
    /* Additional button styling if needed */
}

.banner h1 {
    color: white;
    font-size: 2.5em;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.welcome-section,
.menu-section,
.about-section,
.reservation-section {
    margin: 0;
    padding: 20px;
    max-width: 300px;
}

/* Then style each section with headings and paragraphs as needed */
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown .dropdown-content {
    display: none;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .banner-content {
        grid-template-columns: 1fr;
        /* Stack sections on smaller screens */
        width: 90%;
        /* Increase width for smaller screens */
        padding: 10px;
    }

    header,
    footer {
        padding: 0.5em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 0.5em;
    }

    .dashboard-container {
        flex-direction: column;
    }

    .form-container,
    .dashboard-container,
    .sidebar {
        padding: 1em;
        width: 100%;
    }
}

/* Product and menu item styles */
.menu-item {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    border-radius: var(--border-radius);
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 1em;
}

.menu-item h3 {
    color: var(--secondary-color);
    margin-bottom: 0.5em;
}

.menu-item p {
    margin-bottom: 1em;
    line-height: 1.4;
}

/* Dashboard styles */
.dashboard-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    /* Centreert de container indien nodig */
}

.sidebar {
    background-color: #f2f2f2;
    /* Lichte achtergrond voor de sidebar */
    padding: 20px;
    width: 250px;
    /* Of een breedte naar keuze */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}

.dashboard-main {
    padding: 20px;
    background-color: var(--background-color);
    flex-grow: 1;
}